<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="CompanyDB" connectionString="data source=DVINESERVER3\MISYSSBMSE;initial catalog=DVINETEST;user id=sa;password=MISys_SBM1;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>
  </connectionStrings>
	<appSettings>
		<add key="CNS_ServerURL" value="http://localhost/sbmwebservice64/miwebservice.asmx"/>
		<add key="CNS_CompanyName" value="DVINETEST"/>
		<add key="CNS_UserName" value="DVINESVC"/>
		<add key="CNS_Password" value="Dvine123"/>
		<add key="IntervalInMins" value="1"/>
		<add key="LogPath" value="C:\CNS\DvineApp"/>
		<add key="DebugLogging" value="False"/>
		<add key="MISYS_EXT_ServerURL" value="http://localhost/MISysManufacturingEXT/"/>
	</appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
